<h2 id="title">Ember-cli-gettext</h2>

{{!-- Returns "Singular" --}}
<p>{{i18n-t "Singular"}}</p>

{{!-- Returns "Singular" --}}
<p>{{i18n-n "Singular" "Plural" count=1}}</p>

{{!-- Returns "Plural" --}}
<p>{{i18n-n "Singular" "Plural" count=2}}</p>

{{outlet}}
